body{
  margin: 0;
  text-align: center;
}

h1 {
  padding-top: 100px;
  margin-top: 0;
}
div{
  margin: 0;
}


.topContainer{
  font-family: 'Kaushan Script', cursive;
  font-size: 50px;
  background-color: #c7cfb7;
  position: relative;
  min-width: 300px;
  margin: 0;
  height: 1600px;
}
.middleContainer{

  background-color: #a98b98;
}
.bottomContainer{

  background-color: #351f39;
}
.topCloud {
  position: absolute;
  width: 20%;
  right: 100px;
  top: -100px;
  opacity: 0.5;
}
.bottomCloud {
  position: absolute;
  width: 20%;
  left: 100px;
  top: -100px;
  opacity: 0.5;
}

.kol {
  padding-top: 170px;
  width: 80%;

  position:relative;
}
